TEMPLATE = lib

CONFIG += thread warn_on plugin

QMAKE_CXXFLAGS += -ffast-math
#QMAKE_CXXFLAGS += -Os

TARGET = $${pluginName}.0.36

INCLUDEPATH += ../../../lib

LIBS += -L../../../lib -lqtstalker

# linux options
unix:linux-g++:LIBS += -ldl

# FreeBSD options
unix:freebsd-g++:INCLUDEPATH += /usr/X11R6/include
unix:freebsd-g++:INCLUDEPATH += /usr/local/include/db43
unix:freebsd-g++:LIBS += -L/usr/local/lib/db43

